<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/anotacao" method="post">

        <label>Titulo</label>
        <input type="text" name="title">
        <label>Conteudo</label>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <button>Enviar</button>

    </form>
</body>
</html>